/*航班信息*/
.voyage-info {
	display: block;
	background: #fff;
}

.voyages-list {
	width: 94%;
	margin: 0px auto;
	border-bottom: 1upx dotted #ddd;
	padding-bottom: 30upx;
}

.voyages-list:last-child {
	border-bottom: none;
}

.voyage-title {
	display: block;
	height: 100upx;
	line-height: 100upx;
}

.voyage-title text {
	margin-left: 20upx;
	vertical-align: middle;
}

.voyage-title em {
	color: #fff;
	font-size: 22upx;
	background: #0086F6;
	border-radius: 40upx;
	padding: 0 8upx;
	margin-right: 10upx;
	height: 44upx;
	line-height: 44upx;
	vertical-align: middle;
}

.voyage-title em i {
	width: 34upx;
	height: 34upx;
	line-height: 34upx;
	text-align: center;
	border-radius: 34upx;
	background: #fff;
	color: #0086F6;
	margin-right: 8upx;
}

.voyage-title em.return {
	background: #f60;
}

.voyage-title em.return i {
	color: #f60;
}

.voyage-content {
	display: flex;
	overflow: hidden;
}

.voyage-l {
	float: left;
	width: 140upx;
}

.voyage-l view {
	display: block;
}

.voyage-l view text {
	display: block;
	font-size: 24upx;
	color: #999;
}

.voyage-l view text:last-child {
	font-size: 32upx;
	color: #111;
	line-height: 100%;
	font-weight: bold;
	height: 40upx;
	line-height: 40upx;
}

.duration {
	font-size: 24upx;
	color: #999;
}

.duration i {
	font-size: 24upx;
	margin-right: 6upx;
	margin-top: 20upx;
	margin-bottom: 20upx;
}

.voyage-r {
	flex: 1;
	position: relative;
}

.voyage-r::before {
	content: '';
	position: absolute;
	top: 10%;
	left: -6upx;
	width: 4upx;
	height: 80%;
	background: #ddd;
}

.dot-top {
	position: absolute;
	top: 6upx;
	left: -16upx;
	width: 16upx;
	height: 16upx;
	border-radius: 16upx;
	border: 4upx solid #ddd;
	z-index: 1;
	background: #fff;
}

.dot-bom {
	position: absolute;
	bottom: 10upx;
	left: -16upx;
	width: 16upx;
	height: 16upx;
	border-radius: 16upx;
	border: 4upx solid #ddd;
	z-index: 1;
	background: #fff;
}

.voyage-r view {
	display: block;
	padding-left: 30upx;
}

.voyage-r view.city {
	font-weight: bold;
}

.airline {
	font-size: 24upx;
	color: #999;
	line-height: 36upx;
	margin: 20upx 0;
}

.airline image {
	width: 24upx;
	height: 24upx;
	vertical-align: middle;
	margin-left: 10upx;
}

.airline p:last-child {
	text-indent: 36upx;
}

.transfer {
	display: block;
	padding: 20upx 0;
	color: #999;
}

.transfer text {
	color: #f60;
	width: 40upx;
	height: 40upx;
	border-radius: 40upx;
	text-align: center;
	border: 1upx solid #f60;
	font-size: 24upx;
	margin-right: 10upx;
	margin-left: 120upx;
}

.transfer em {
	margin-left: 10upx;
}

.transfer em i {
	vertical-align: middle;
	margin-right: 6upx;
}
